@font-face{ 
	font-family: 'Fira';
	src: url('FiraWebfonts/Fira Sans EOT/FiraSans-Regular.eot');
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
  } /* Hides from IE-mac \*/
  .clearfix {  
      display: block;  
  }

  /* presentation style */
  body {
    font-family: 'Fira', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

b, strong { 
    font-weight: bold;
    color:#cd6723;
}
i, em { font-style: italic }

.left {
	float:left;
}
.right {
	float:right;	
}

.step {
    position: relative;
    width: 900px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.slide * {
	-moz-box-sizing: border-box;
}

q {
    text-align: center;
    font-style: italic;
}

/* title style */
.slide.title {
	text-align: center;
}

.slide.title h1 {
	font-size: 50px;
	margin-top:200px;
    margin-bottom: 50px;
}

.slide.title h3 {
    font-size: 25px;
    line-height: 45px;
}

.slide.title .author{
    font-size: 18px;
    text-align: right;
    margin-top:150px;
    margin-right:20px;
}

/* text style */
.slide.text h1 {
	background-image: linear-gradient(to top, #bb482d, #cd6723);
	height: 100px;
    border-radius: 7px 7px 0 0;
    line-height: 100px;
    font-size: 40px;
    padding: 0 40px;
    color: white;
}


.slide.text .content {
    display: block;
    padding: 40px;
    font-size: 36px;
}

.slide.text .content p {
    margin-bottom: 10px;
}
.slide.text .content ul,ol {
	padding-left:20px;
}

.slide.text ul,ol>li>ul,ol {
    font-size:80%;
}

.slide.text .content .third {
	width:32%;
	max-width:32%;
	padding-right:10px;
}

.slide.text .content .two-third {
    width:66%;
}

.slide.text .content strong {
    white-space: nowrap;
}


img.fit-height {
	height:100%;
}

img.fit-width {
    width:100%;
}

img.strech {
    width:100%;
}


#table-of-contents {
    font-size:35px;
    line-height:80px;}


.presentation li {
    margin-bottom:50px;
}

.presentation li>ul {
    margin-top:10px;
}

.presentation li>ul>li {
    margin-bottom:20px;
}

.presentation>h3{
    margin-bottom:50px;
}

.presentation>p {
    font-size: 20px;
}

.logo-entreprise {
    max-height:130px;
    margin-top:100px;
}

#logo-intuitive {
    height:70px;
}

.problematique {
    line-height: 60px;
    margin-top: 50px;
    text-align: center;
}

.center {
    text-align: center;
}

.chart {
    margin-top:70px;
}

.charts2 {
    height:300px;
}

.bottom-right {
    position:relative;
    float:right;
    height:150px;
}

#idc {
    bottom:-100px;
    font-size:20px;
}

.image-in-list {
    height:200px;
}

.logo {
    height:150px;
    margin-bottom: 20px;
}

#trello {
    margin-top:150px;
    width:300px;
}

#alternatives>.left>ul>li:first-child {
    margin-bottom: 120px;
}

#alternatives>.right>img:first-child {
    margin-bottom: 80px;
}

#apples {
    bottom:56px;
}

#procedure {
    height:200px;
    bottom: 100px;
}

#thanks {
    margin-top:270px;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

table.results {
    width:100%;
    font-size: 25px;
    border:1px solid lightgray;
    border-collapse: collapse;
}

table.results th, table.results td  {
    padding:10px;
    border:1px solid lightgray;
}

table.results tr>th:first-child {
   text-align: right;
}

table.results td {
    width: 150px;
}

td.good {
    background-color: #00c60e;
}

td.mid {
    background-color: #3aa0ff;
}

td.nope {
    background-color: #ff2121;
}

td.mid-nope {
    background-color: #e84c00;
}

ul.no-bullets {
    list-style-type: none;
}

table.smartphone-evol {
    text-align: center;
    width:100%;
    font-size: 35px;
}

table.smartphone-evol th {
    vertical-align: middle;
    height:150px;
    
}
table.smartphone-evol td {
    height:200px;
    width:33%;
    vertical-align: middle;
}


td.evol {
    font-size: 50px;
    color: #00c60e;
}

td.q2013 {
    font-size: 65px;
}

.web-images {
    height:350px;
    box-shadow: 0 0 20px black;
}

#wiki {
    position: relative;
    top: -310px;
    left: 150px;
}

#drive {
    position: relative;
    top: -630px;
    left: 300px;
}

.mobile-images {
    vertical-align: middle;
    height:200px;
    box-shadow: 0 0 20px black;
}

.arrow {
    vertical-align: middle;
    margin:0 20px;
    height:50px;
}

#ffos-logo {
    margin-right:230px;
    box-shadow: none;

}

#itu {
    font-size:20px;
}

.shadow {
    box-shadow: 0 0 20px black;
}